/*
 * Styles specific to the loginform page
 */

.LoginForm {
	width:25%;
	min-width:250px;
	margin: 0 auto;
}
.LoginForm-h1 {
	text-align:center;
	margin-bottom:2rem;
}

 .LoginForm-input {
	width:100%;
}