/*
 * Styles for the articles
 */

/* == article html tag */
	main article {
		border: 1px solid #E5E5E5;
		border-radius: 2px;
		background-color: #FFF;
	}
	main article > * {
		padding:0;
	}

/* == article <nav>*/
	.articleControls {
		text-align:center;
	}
	.articleControls button {
		padding:2px;
		margin:5px;
	}		
	.articleControls button img {
		float:left;
		padding:2px;
		height:17px;
	}

	.articleTagsList {
		display:none;
	}
	.articleTagsList ul {
		display:inline-flex;
	}
	.articleTagsList ul li {
		padding:.5rem;
	}

	.articleTagForm {
		display:relative;
		margin:5px;
		width:calc(100% - 10px);
	}
	.articleTagForm > input,
	.articleTagForm > button {
		margin:0;
		height:35px;
	}
	.articleTagForm input {
		width:calc(100% - 65px);
		background-color:#ECECEC;
		border-radius:2px 0 0 2px;
	}
	.articleTagForm button {
		display:absolute;
		top:0;
		right:0;
		float:right;
		min-width:65px;
		border-radius: 0 2px 2px 0;
	}


	@media(min-width:960px)
	/*must be the same value than in the Responsive part of layout.css*/
	{
		.articleTagsList {
			display:block;
		}
		.articleControls > button {
			width:100%;
		}
		.articleControls {
			text-align:left
		}
		.articleControls ul {
			display:inline;
		}

		/*hide the list and show the display button*/
		.articleDisplayTagButton{
			display:none;
		}
		.articleTagList {
			display:block;
		}
		.articleTagForm {
			width:100%;
		}
	}

/* == article content */
	main article h1,
	main article h2,
	main article h3,
	main article h4,
	main article h5,
	main article h6 {
		margin-top:0;
	}

	.articleContent ul,
	.articleContent ol {
		padding-left:2em;
	}
	.articleContent > * {
		padding:0px 2rem 1rem 2rem;
	}
