/*
 * Base style : reset, global colors and co
 */

/* switching box model for all elements */
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
/*base*/
	html {
		font-size:100%;
	}
	body {
		font-family:arial,sans-serif;
		font-size: 1.1875rem;
		line-height: 1.6875rem;
		color:#222;
		background-color:#F1F1F1;
	}
	p,
	ul,
	ol,
	dl,
	blockquote,
	pre,
	td,
	th,
	textarea,
	caption,
	details,
	figure {
		margin-top: 1.6875rem;
		margin-bottom: 1.6875rem;
	}
	fieldset {
		border: 1px solid #E5E5E5;
	}
	ul,
	ol {
		padding-left:0;
		list-style:none;
	}
/* Sanitation */
	hr {
	  border: 1px solid;
	  margin: -1px 0;
	}
	ul ul, ol ol, ul ol, ol ul {
	  margin-top: 0;
	  margin-bottom: 0;
	}
	b, strong, em, small, code {
	  line-height: 1;
	}
	sup, sub {
	  vertical-align: baseline;
	  position: relative;
	  top: -0.4em;
	}
	sub {
	  top: 0.4em;
	}
/*Titles*/
	h1 {
	  font-size: 2.0625rem;
	  line-height: 3.375rem;
	  margin-top: 3.375rem;
	  margin-bottom: 1.6875rem;
	}
	h2 {
	  font-size: 1.6875rem;
	  line-height: 1.6875rem;
	  margin-top: 3.375rem;
	  margin-bottom: 1.6875rem;
	}
	h3 {
	  font-size: 1.4375rem;
	  line-height: 1.6875rem;
	  margin-top: 1.6875rem;
	  margin-bottom: 1.6875rem;
	}
	h4 {
	  font-size: 1.1875rem;
	  line-height: 1.6875rem;
	  margin-top: 1.6875rem;
	  margin-bottom: 1.6875rem;
	}
/*links*/
	a:link,
	a:visited {
		text-decoration:none;
		color:#15C;
	}
/*Rounded*/
	button,
	.Button,
	input[type="submit"],
	input[type="text"],
	input[type="password"] {
		border-radius:2px;
	}

/*Animate this !*/
	input,
	.Button,
	.CompleteTag,
	.TagName {
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}

/*Tools*/
	.hidden {
		display: none;
	}
