/*
 * Layout styles. The way elements are placed, not their colors, borders, typos, etc.
 */

/* == Main */
	/* flex */
	.flex {
		display:flex;
	}
	aside {
		flex: 0 1 250px;
	}
	main {
		flex: 3 1 0;
	}
	/*space around elements*/
	#flex > * {
		margin:1rem;
	}
	main article:first-child {
		margin-top:0;
	}
	main article {
		margin: 2rem 0;
	}

/* == Responsive */
	/*big screens*/
	@media(min-width:960px)
	{
		.Article {
			display:flex;
		}
		.Controls {
			flex:1;
			max-width:250px;
			text-align:left
		}
		.articleContent {
			flex:3;
		}
	}
	/*phones*/
	@media(max-width:700px)
	{
		.flex,
		.Article {
			display:block;
		}
	}
/* == Tools */
	.clear {
		clear:both;
	}
