/* == display */
.Modalbox {
	display: none;
}
/* == positionning */
.Modalbox-wrapper1 {
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
	z-index:2;
}
.Modalbox-wrapper2 {
	width: 50%;
	background-color: #FFF;
	border-radius: 2px;
	overflow-y: scroll;
}
@media(max-width:700px) {
	.Modalbox-wrapper2 {
		width: 90%;
		margin: 0.5rem;
	}
}
/* ==content of the modalbox */
.Modalbox-title {
	text-align: center;
	margin-top: 1rem;
}
.Modalbox-content {
	padding: 0 1rem;
}

.Modalbox .Button {
	margin: 0;
	border-radius: 0 0 2px 2px;
	width: 100%;
}
/* ==darkbackground */
.Overlay {
	display: none;
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1;
	background-color:black;
	filter: alpha(opacity=75);
	-khtml-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}
