/*
 * Style for the sidebar
 */
 .Side {
 	margin: 0 .5rem;
 }

.Logo-h1 {
	margin:0;
	text-align:center;
}
.Logo-a {
	padding:.5em 0 0 0;
	display:block;
}
.Logo-img {
	max-width: 100%;
	padding: 0 1rem;
}

.Menu {
	text-align: center;
	margin: 0;
}
.Menu-li{
	display: inline-block;
	padding:.5rem;
}

.Side .MainForm {
	width: 95%;
	margin: 5px auto;
}