/*
 * Style for User-Interaction parts : buttons, forms, etc.
 */
/* == Buttons */
	/*Remember that if the .btn class is added to a non-standard button element, aria role is needed*/
	.Button {
		height:35px;
		border: 0 none;
		padding:0 1rem;
		margin:.5rem;
		text-align:center;
		font-weight:bold;
		cursor:pointer;
		/*by default, red buttons*/
		color:#FFF;
		background-color:#D14836;
	}
		button:hover,
		button:active,
		button:focus,
		input[type="submit"]:hover,
		input[type="submit"]:active,
		input[type="submit"]:focus,
		.btn:hover,
		.btn:active,
		.btn:focus {
			background-color:#C03927;
			-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
		}
	.lightgrey {
		color:#444;
		background-color:#DCDCDC;
	}
		.lightgrey:hover,
		.lightgrey:active,
		.lightgrey:focus {
			background-color:#BCBCBC;
		}
	.darkgrey {
		color:#FFF;
		background-color:#444;
	}
		.darkgrey:hover,
		.darkgrey:active,
		.darkgrey:focus {
			background-color:#333;
		}
	.blue {
		color:#FFF;
		background-color:#15C;
	}
		.blue:hover,
		.blue:active,
		.blue:focus {

		}
	.green {
		color:#FFF;
		background-color:#4EAD48;
	}
		.green:hover,
		.green:active,
		.green:focus {
			background-color:#3C9C37;
		}

/* == Form */
	input[type="submit"],
	input[type="text"],
	input[type="password"]
	{
		border: 0 none;
		margin:.5rem;
	}
	input[type="text"],
	input[type="textaera"],
	input[type="password"] {
		padding:.5rem;
		background-color:#fff;
		color:#333;
	}
	input[type="text"]:focus,
	input[type="password"]:focus {
		background-color:#ECECEC;
		box-shadow:inset 0 0 3px 0px rgba(0,0,0,0.8), 0 0 3px 0 #FFF;
	}
/* == switches */
	.switch:empty
	{
		margin-left: -999px;
	}
	.switch:empty ~ label
	{
		position: relative;
		float: left;
		line-height: 1.6em;
		text-indent: 4em;
		margin: 0.5rem;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.switch:empty ~ label:before, 
	.switch:empty ~ label:after
	{
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		content: ' ';
		width: 3.6em;
		background-color: #c33;
		border-radius: 0.3em;
		-webkit-transition: all 100ms ease-in;
		transition: all 100ms ease-in;
	}
	.switch:empty ~ label:after
	{
		width: 1.4em;
		top: 0.2em;
		bottom: 0.2em;
		margin-left: 0.2em;
		background-color: #fff;
		border-radius: 0.15em;
	}
	.switch:checked ~ label:before
	{
		background-color: #393;
	}
	.switch:checked ~ label:after
	{
		margin-left: 2em;
	}

/* == tags */
	/*common*/
	.DelTag,
	.TagName {
		padding: 0 .3rem;
	}
	/*The ul, containing the loop of tags*/
		.TagList {

		}
	/*One complete tag*/
		.TagList-completeTag {

		}
		.CompleteTag {
			margin: .3rem;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			border-radius: 2rem;

			border: 1px solid #6A6A6A;
		}
			.CompleteTag:hover {
				background-color: #6A6A6A;
			}
			.CompleteTag:hover a.TagName {
				color:#FFF;
			}
	.TagName,
	.DelTag {
		padding:.3rem .5rem;
	}
	/*The name of the tag*/
		.TagList-tagName {

		}
		a.TagName {
			color:#6A6A6A;
		}
	/*the delete button of the tag*/
		.TagList-delTag {

		}
		a.DelTag {
			background-color: #6A6A6A;
			font-weight: bold;
			color: #FFF;
		}