/*
 * Style for User-Interaction parts : buttons, forms, etc.
 */
/* == Buttons */
	/*Remember that if the .btn class is added to a non-standard button element, aria role is needed*/
	.Button {
		height:35px;
		border: 0 none;
		padding:0 1rem;
		margin:.5rem 0;
		text-align:center;
		font-weight:bold;
		cursor:pointer;
		/*by default, red buttons*/
		color:#FFF;
		background-color:#ED7261;
	}
		.Button:hover,
		.Button:active,
		.Button:focus,
		input[type="submit"]:hover,
		input[type="submit"]:active,
		input[type="submit"]:focus {
			background-color:#D14836;
		}
	.lightgrey {
		color:#444;
		background-color:#DCDCDC;
	}
		.lightgrey:hover,
		.lightgrey:active,
		.lightgrey:focus {
			background-color:#BCBCBC;
		}
	.darkgrey {
		color:#FFF;
		background-color:#666;
	}
		.darkgrey:hover,
		.darkgrey:active,
		.darkgrey:focus {
			background-color:#444;
		}
	.blue {
		color:#FFF;
		background-color:#15C;
	}
		.blue:hover,
		.blue:active,
		.blue:focus {

		}
	.green {
		color:#FFF;
		background-color:#88BF57;
	}
		.green:hover,
		.green:active,
		.green:focus {
			background-color:#4EAD48;
		}

/* == Form */
	input[type="submit"],
	input[type="text"],
	input[type="password"]
	{
		border: 0 none;
		margin:.5rem;
	}
	input[type="text"],
	input[type="textaera"],
	input[type="password"] {
		padding:.5rem;
		background-color:#fff;
		color:#333;
	}
	/*
	 * box-shadow inset have a huge performance issue, so I prefer desactivate it.
	 * Note that the perf issue was noticed in 2010, and is still here in 2014
	input:focus {
		background-color:#ECECEC;
		box-shadow:inset 0 0 3px 0px #333, 0 0 3px 0 #FFF;
		box-shadow:0 0 3px 0 #FFF;
	}
	*/
/* == Search/add/ main form */
	.MainForm {
		margin:5px;
		width:100%;
	}
	input.Input,
	.Submit {
		margin:0;
		height:35px;
	}
	input.Input {
		width:calc(100% - 65px);
		border-radius:2px 0 0 2px;
	}
	.MainForm-Submit {
		top:0;
		right:0;
		float:right;
	}
	.Submit {
		padding: 2px;
		min-width:65px;
		border-radius: 0 2px 2px 0;
	}

/* == switches */
	.Switch:empty
	{
		margin-left: -999px;
	}
	.Switch:empty ~ label
	{
		position: relative;
		float: left;
		line-height: 1.6em;
		text-indent: 4em;
		margin: 0.5rem;
		cursor: pointer;
	}
	.Switch:empty ~ label:before,
	.Switch:empty ~ label:after
	{
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		content: ' ';
		width: 3.6em;
		background-color: #ED7261;
		border-radius: 0.3em;
		-webkit-transition: all 100ms ease-in;
		transition: all 100ms ease-in;
	}
	.Switch:empty ~ label:after
	{
		width: 1.4em;
		top: 0.2em;
		bottom: 0.2em;
		margin-left: 0.2em;
		background-color: #fff;
		border-radius: 0.15em;
	}
	.Switch:checked ~ label:before
	{
		background-color: #393;
	}
	.Switch:checked ~ label:after
	{
		margin-left: 2em;
	}

/* == tags */
	/*common*/
	.DelTag,
	.TagName {
		padding: 0 .3rem;
	}
	/*The ul, containing the loop of tags*/
		.TagList {

		}
	/*One complete tag*/
		.TagList-completeTag {

		}
		.CompleteTag {
			margin: .3rem;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			border-radius: 2rem;

			border: 1px solid #6A6A6A;
		}
			.CompleteTag:hover {
				background-color: #6A6A6A;
			}
			.CompleteTag:hover a.TagName {
				color:#FFF;
			}
	.TagName,
	.DelTag {
		padding:.3rem .5rem;
	}
	/*The name of the tag*/
		.TagList-tagName {

		}
		a.TagName {
			color:#6A6A6A;
		}
